@charset "UTF-8";

body {
	background: url(../images/background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	margin: 0;
    font-family: omnes-pro, sans-serif;
    font-size: 20px;
    color: white;
}

header {
    background-color: #1c1c1c;
    padding-top: 1px;
}

.logo {
    margin-left: 5%;
    display: inline-block;
    float: left;
}

.timeanddate {
    margin-left: 40%;
}

.cartmenu {
    display: inline-block;
    float: right;
    width: 80px;
    height: 70px;
    padding-top: 10px;
    background-color: #1c1c1c;
    margin-left: 2px;
    margin-right: 5%;
    font-size: 40px;
    text-align: center;
    border-bottom-right-radius: 10px;
}

.cartmenu2 {
    display: inline-block;
    float: right;
    width: 80px;
    height: 70px;
    padding-top: 10px;
    background-color: #1c1c1c;
    margin-left: 2px;
    font-size: 40px;
    text-align: center;
    border-bottom-left-radius: 10px;
}

i {
    transition: all 0.1s linear;
}

i:hover {
    color: #f0af30;
}

.headerimage {
    background-color: #1c1c1c;
    background-image: url(../images/headerimageArtboard%201.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
}

h2 {
    display: inline-block;
    color: #1c1c1c;
    background-color: #f0af30;
    font-family: komu-a, sans-serif;
    font-style: normal;
    font-size: 40px;
    letter-spacing: 2px;
    padding: 20px;
    margin-bottom: 0px;
    border-radius: 10px;
}

h3 {
    clear: left;
    font-family: komu-a, sans-serif;
    font-style: normal;
    font-size: 30px;
    color: #f0af30;
    letter-spacing: 2px;
    margin: 0;
    margin-bottom: 20px;
}

h4 {
    font-family: komu-a, sans-serif;
    font-style: normal;
    font-size: 30px;
    color: #f0af30;
    letter-spacing: 2px;
    margin-bottom: auto;
}

nav {
    display: block;
    background-color: rgba(87, 87, 87, .4);
    border-radius: 5px;
    width: 15%;
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 30px;
    padding-left: 30px;
    padding-bottom: 100px;
    float: left;
}

ul {
    list-style: none;
}

.links {
    transition: all 0.1s linear;
}

.links:hover {
    color: #f0af30;
}

.menu {
    display: inline-block;
    width: 70%;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-left: 30px;
}

.grid {
    display: inline-block;
    width: 45%;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
    float: left;
}

.grid2 {
    display: inline-block;
    background-color: rgba(87, 87, 87, .4);
    border-radius: 5px;
    width: 45%;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
    float: left;
}

.image {
    display: inline-block;
    float: left;
    margin-right: 30px;
}

.description {
    width: 350px;
    display: inline-block;
    float: left
}

.promo {
    display: inline-block;
    font-family: komu-a, sans-serif;
    font-style: normal;
    font-size: 30px;
    margin: 0;
    background-color: #f0af30;
    color: #1c1c1c;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 5px;
}

.crust {
    width: 300px;
    font-size: inherit;
    margin: 0%;
}

.options {
    color: #f0af30;
    font-weight: bold;
    font-size: 22px;
}

footer {
    display: block;
    border-top-style: solid;
    border-top-color: #f0af30;
    border-top-width: 10px;
    background-image: url(../images/footerimage.jpg);
    background-color: #a60c07;
    height: 390px;
}

.social {
    font-size: 60px;
    padding-right: 10px;
    margin: 0px;
    display: block;
    letter-spacing: 10px;
}

.columns {
    display: inline-grid;
    width: 25%;
    margin-top: 20px;
    margin-right: 4%;
    margin-bottom: 3%;
    margin-left: 4%;
}

.subscribe {
    font-size: 18px;
    padding: 5px;
    margin: 3px;
    width: 300px;
}

.button {
    font-size: 18px;
    padding: 5px;
    margin: 3px;
    margin-top: 20px;
    width: 200px;
    border-radius: 5px;
    background-color: #f0af30;
    transition: all 0.1s linear;
}

.button:hover {
    background-color: #a60c07;
    color: #ffffff;
}

.copyright {
    background-color: #a60c07;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 11px;
    padding-bottom: 10px;
    text-align: center;  
}